<%- include header %>
<div align="center" style="text-align:left; width:50%; margin:0px auto;">
  <h3>合約位址: <%= contractAddress %></h3>
  <h3>基金會: <%= fName %></h3>
  <h3>專案名稱: <%= fProjectName %></h3>
  <h3>目前捐款金額: <%= contractBalance %> ether</h3>
  <h4>簡介: <%= fDescription %></h4>
  <h4>捐款明細:</h4>
  <% if (donors.length != 0) { %>
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th >捐款人位址</th><th>捐款金額</th><th>受款人位址</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < donors.length; i++) { %>
      <tr>
        <td> <%= donors[i].donorAddress%> </td>
        <td class="text-danger"><%= donors[i].donation %> ether</td>
        <% if (donors[i].doneeList.length == 0) { %>
        <td>尚未處理</td>
        <% } else {%>
        <td>
          <% for (var j = 0; j < donors[i].doneeList.length; j++) { %>
          <p class="text-danger">
            <a class="text-info" href="/donee/<%= donors[i].doneeList[j].address %>"><%= donors[i].doneeList[j].address %></a>
            <%= donors[i].doneeList[j].donation %> ether
          </p>
          <% } %>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } else {%>
  <h4>無</h4>
  <% }%>
</div>
<% if (isAdmin) { %>
<div class="col-sm-12" align="center">
  <a type="submit" class="btn btn-danger" href="/projects/<%= contractAddress %>/manage">進行轉帳</a>
</div>
<% } %>
<!--Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <p class="w3-opacity"><i></i></p>
  <p class="w3-justify"></p>
</section>
<script src="/socket.io/socket.io.js"></script>
<script>

socket.on("transferEther", function (data) {
  window.location.reload()
});
</script>
<%- include footer %>