<%- include header %>
    <div align="center" style="text-align:left; width:50%; margin:0px auto;">
      <h2>合約位址: <%= contractAddress %></h2>
      <h2>受款人: <%= doneeName %></h2>
      <h2>簡介: <%= description %></h2>
      <h2>受款金額: <%=received%></h2>
      <table class="table table-bordered">
        <tr>
          <th>捐款人位址</th><th>捐款金額</th>
        </tr>
        <% for (var i = 0; i < donors.length; i++) { %>
        <tr>
          <td> <%= donors[i].donorAddress%> </td>
          <td class="text-danger"><%= donors[i].donation %> ether</td>
        </tr>
        <% } %>
      </table>
    </div>
<%- include footer %>