<%- include header %>
    <h1 class="w3-center">捐款專案</h1>
    <div style="width:100%;" align="center">
      <% for (var i = 0; i < contracts.length; i++) { %>
      <div class="w3-center w3-padding-64" style="float:left; width:33%;text-align:left;">
        <h4 style="font-size: 1vw">
        合約位址:<a href="/foundation/<%= contracts[i].address %>"><%= contracts[i].address %></a>
        </h4>
        <h4 style="font-size: 1vw">基金會: <%= contracts[i].fName %></h4>
        <h4 style="font-size: 1vw">專案名稱: <%= contracts[i].projectName %></h4>
        <h4 style="font-size: 1vw">簡介: <%= contracts[i].description %></h4>
      </div>
      <% } %>
    </div>
<%- include footer %>
