<%- include header %>
<div align="center" style="text-align:left; width:50%; margin:0px auto;">
  <h2>合約位址: <%= contractAddress %></h2>
  <h2>基金會: <%= fName %></h2>
  <h2>專案名稱: <%= fProjectName %></h2>
  <h2>目前捐款金額: <%= contractBalance %> ether</h2>
  <h2>簡介: <%= fDescription %></h2>
  <h2>捐款明細:</h2>
  <% if (donors.length != 0) { %>
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th >捐款人位址</th><th>捐款金額</th><th>受款人位址</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < donors.length; i++) { %>
      <tr>
        <td> <%= donors[i].donorAddress%> </td>
        <td><%= donors[i].donation %> ether</td>
        <% if (donors[i].doneeList.length == 0) { %>
        <td>尚未處理</td>
        <% } else {%>
        <td>
          <% for (var j = 0; j < donors[i].doneeList.length; j++) { %>
          <p>
            <a href="/donee/<%= donors[i].doneeList[j].address %>"><%= donors[i].doneeList[j].address %></a>
            <%= donors[i].doneeList[j].donation %> ether
          </p>
          <% } %>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } else {%>
  <h4>無</h4>
  <% }%>
  <form class="form-horizontal" method="post" >
    <div class="control-group">
      <label class="control-label" for="donor-address">捐款人位址</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="target-address" name="donor-address">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="ether">以太</label>
      <div class="controls">
        <input type="number" class="input-xlarge" id="ether" name="ether">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="donee-address">受款人位址</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="target-address" name="donee-address">
      </div>
    </div>
    <p></p>
    <div class="form-actions">
      <button type="submit" class="btn btn-danger">送出交易</button>
    </div>
  </form>
</div>
<%- include footer %>